// Color Variables
$clr-dark-a0: #000000;
$clr-light-a0: #FAF9F6;

// Dark theme primary colors
$clr-primary-a0: #9e0a0a;
$clr-primary-a10: #ad3423;
$clr-primary-a20: #bb503b;
$clr-primary-a30: #c86a55;
$clr-primary-a40: #d4836f;
$clr-primary-a50: #df9b8a;

// Dark theme surface colors
$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

// Dark theme tonal surface colors
$clr-surface-tonal-a0: #211512;
$clr-surface-tonal-a10: #362a28;
$clr-surface-tonal-a20: #4c413f;
$clr-surface-tonal-a30: #635957;
$clr-surface-tonal-a40: #7b7371;
$clr-surface-tonal-a50: #948d8b;
