/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

body {
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
    font-size: 2vmin;
}

/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

a {
    background-color: transparent;
}

/* DESKTOP NAV */

nav,
.nav-links {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
    flex-direction: row;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    width: 100%;
    background-color: #dfdfe5;
    border-radius: 0 0 25px 25px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    background-color: #dfdfe5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    font-size: 3vmin;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 5vmin;
    background-color: transparent;
}

.logo:hover {
    cursor: default;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 10vmin;
    color: black;
    text-decoration: none;
}

.menu-links li {
    list-style: none;
    background-color: #dfdfe5;
}

li {
    background-color: #dfdfe5;
}

.menu-links.open {
    max-height: 300px;
}

.navbar_button {
    width: fit-content;
    font-size: 5vmin;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}


/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* EXPERIENCE */




/* EDUCATION */



/* PROJECTS */



/* CONTACT */
